@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.MuiTableCell-root {
  font-family: $open-sans;
}

.wt-red {
    background: #FFB9B9;
}

.wt-orange {
    background: #FFE5B4;
}

.act-header{
    padding: 1rem;
}

.act-paper{
  overflow-x: scroll;
}

.MuiTableRow-head{
    background: $navy;
}

.MuiTableSortLabel-root{
    color: $white;
    font-size: 0.875rem;
    &:hover{
        color: $grey-light;
    }
    &.MuiTableSortLabel-active {
        color: $blue;
        font-weight: $font-medium; 
    }
}
.MuiTableCell-paddingNone {
    padding: 0.5rem;
}
.MuiSvgIcon-root {
    fill: $blue;
}
