@import '../variables/base.scss';

.sidebar {
    width: 15em;
    height: 100vh;
    position: fixed;
    top: 4.5em;
    background: $white;
    padding: 4px 0;
    border-right: {
        style: solid;
        width: 0.05em;
        color: $grey;
    };
}

.sidebar-list {
    border-bottom: {
        style: solid;
        width: 0.05em;
        color: #e9e9e9;
    }
    .MuiExpansionPanelDetails-root .MuiTypography-body1 {
        font-size: .85rem;
    }
    .MuiPaper-elevation1 {
        box-shadow: unset;
        background-color: transparent;
    }
    &:hover{
        background: $grey-light;
        border-right: {
            style: solid;
            color: $navy;
            width: 0.1em;
        }
    }
}