// @font-face {
// 	font-family: "Source Sans Pro";
// 	src: url('../fonts/Source Sans Pro/SourceSansPro-Regular.ttf');
// }
html {
    background: #f8f9fc;
}

// GLOBAL COLORS
// base F8F9FB --  w3 color picker tool

$navy: #252e41;

$blue: #7d90b5;
$blue-light: #aebad0;

$grey: #808080;
$grey-light: #f8f9fc;

$white: white;
$black: black;

