/* Sass variables for colors */

$navy: #252e41;
$blue: #006AC7;
$blue-light: #aebad0;
$grey: #808080;
$grey-light: #f8f9fc;
$white: white;
$black: black;

/* Sass variables for borders */
$grey-border: 1px solid rgba(0, 0, 0, 0.12);